body{
    background: url("../assets/Rectangle\ 7.png");
    color: white;
    font-weight: 800;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.caixa{
    margin-right: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
.botoes{
    margin-top: 1em;
    display: flex;
    gap: 2em;
    justify-content: center;
}
.botoes button{
    padding: 0.9em;
    border-radius: 25px;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 800;
    border: solid 1px white;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.botoes button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.novato{
    flex-wrap: wrap;
    position: relative;
    text-align: center;
}
.escolhas{
    display: flex;
}
.novato img{
    width: 300px;
}
.personagens img{
    position: absolute;
    border: 1px solid white;
    border-radius: 25px;
    padding: 1em;
}
.ativo{
    visibility: visible;
    opacity: 1;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.oculto{
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.casual{
    flex-wrap: wrap;
    position: relative;
    text-align: center;
}
.casual img{
    width: 300px;
}