body{
    background: url("../assets/Rectangle\ 7.png");
    color: white;
    font-weight: 800;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.caixa{
    margin-right: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
.botoes{
    margin-top: 1em;
    display: flex;
    gap: 2em;
    justify-content: center;
}
.botoes button{
    flex-wrap: wrap;
    padding: 0.9em;
    border-radius: 25px;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 800;
    border: solid 1px white;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.botoes button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.off{
    opacity: 0;
    visibility: hidden;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.on{
    opacity: 1;
    visibility: visible;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.titulo{
    display: flex;
    justify-content: center;
    background-color: grey;
    width: 400px;
    margin: 0 auto;
    padding: 0.5em;
    border-radius: 15px;
}
.titulo h2{
    font-size: 44px;
}
.classes img{
    margin-left: 1rem;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}
.classes{
    margin-top: 5rem;
    margin-left: 10rem;
}
.classes img:hover{
    transform: scale(1.1);
}
