*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    overflow-y: hidden;
    width: 100%;
}
.background{
    background: url("../assets/background.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.background .img{
    margin-left: 20%;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.background .img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
header{
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}
header .navbar{
    text-align: center;
    display: flex;
    gap: 2em;
    font-weight: 800;
    font-size: 15px;
    margin-top: 1em;
    margin-right: 10%;
}
header .navbar a{
    color: #C7BBBB;
    text-decoration: none;
}
header .navbar li{
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

}
header .navbar li:hover{
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.1);
}
.sublogin{
    width: 120px;
    position: relative;
    color: white;
    font-weight: 800;
}
.sublogin img{
    width: 40px;
}
.sublogin img{
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.sublogin img:hover{
    transform: rotate(90deg) scale(1.1);
}
.opcoes{
    top: 100%;
    right: 0;
    text-align: center;
    position: absolute;
}
.oculto{
    visibility: hidden;
    opacity: 0;
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.ativo{
    cursor: pointer;
    display: block;
    opacity: 1;
    visibility: visible;
}