.body{
    background: url("../assets/Rectangle\ 7.png");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 20%;
    left: 28%;
    right: 50%;
    z-index: 998;
    width: 900px;
    padding: 1em;
    border-radius: 30px;
    color: white;
}

.caixa h2{
    font-weight: 800;
    color: white;
    text-align: center;
    font-size: 128px;
}   
.login{
    display: flex;
    justify-content: center;
}
.caixa{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.user label{
    margin-right: 15%;
    font-weight: 900;
}
.senha label{
    margin-right: 15%;
    font-weight: 900;
}
.caixa input{
    border-radius: 25px;
    padding: 0.3em;
}
.senha{
    margin-top: 2em;
}
.botao button{
    padding: 0.5em;
    border-radius: 25px;
    cursor: pointer;
}